<div id="welcome" class="jumbotron centered">

    <span class="left">This is question <%= @question_index+1 %> out of <%= @questions_count %></span> <br> <strong><span id="time" class="right"></span></strong>
  <h2 class="display-3"><%= @survey_submission.survey_template.questions[@question_index].question_text %></h2>
  <hr class="my-4">

    <%= form_tag create_submission_path do %>
        <%= text_area_tag :answer, "", placeholder:"Your answer", class: "answer-text" %>
        <%= hidden_field_tag 'survey_id', @survey_template_id  %>
        <%= hidden_field_tag 'submission_id', @survey_submission.id  %>
        <%= submit_tag "Next", class:"btn btn-primary btn-custom" %>
    <% end %>

</div>

<script>
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            $('form').submit();
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var timeInSeconds =  <%= @question_time %>,
        display = document.querySelector('#time');
    startTimer(timeInSeconds, display);
};
</script>
